    body {
      background-color: darkblue;
    }

    h1 {
      text-align: center;
      color: gold;
      font-family: sans-serif;
      word-spacing: 0.1em;
      padding: 1%;
    }

    .image {
      margin-left: 620px;
      height: 250px;
      width: 400px;
    }

     .paragraph {
      color: white;
      text-align: center;
      padding: 50px;
      font-family: sans-serif;
    }